:root{
    --clr-neutral-900: hsl(207, 19%, 9%);
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-400: hsl(142, 90%, 61%);
};

.kevin-card{
    outline: black 1px solid;
    background-color: black;
}

.hehe{
    outline: black 1px solid;
    height: 10%;
    width: 10%;
    color: white;
    /*outline: 2px solid black;
    background-image: url("../../../Assets/images/Cards/Kevil-Powell-1.png");
    background-size: cover;*/
}
